# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Build directory
build/

# OS X .DS_Store
.DS_Store

# Workspace
.idea/

# Dependency directories (remove the comment below to include it)
# vendor/

# Environment
*.env
.env
.env.local
.env.*.local

# SSL
ssl/certificates/*
ssl/keys/*
ssl/server.pem

# Cache Directory
.cache/